<%= link_to "Back to Quiz", @question.quiz %> &middot;
<%= link_to "Add New Question", [:new, @question.quiz, :question], class: "btn btn-default" %>

<p id="notice"><%= notice %></p>

<h1><%= @question.subject %></h1>

<% if @question.image? %>
  <div style="margin-left: 4rem;">
    <%= image_tag @question.image.url, style: "max-width: 100%;" %>
  </div>
  <%= link_to "Delete Image", [@question, clear_image: true], method: :put, data: {confirm: "Are you sure?"}  %>
<% end %>

<div>
  <%= simple_format @question.desc %>
</div>

<%= link_to 'Edit', edit_question_path(@question), class: "btn btn-default" %>

<h2>Options</h2>


<%= simple_form_for @question do |f| %>
  <% @question.question_options.each_with_index do |qo, idx| %>
    <div>
      <%= f.check_box :correct_options, {:multiple => true}, qo.id.to_s, nil %>
      <span style="font-family: monospace;"><%= "ABCDEFGHIJK"[idx] %>.</span>
      <%= qo.content %> -
      <%= link_to 'Edit', [:edit, qo] %> &middot;
      <%= link_to 'Del', qo, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>

      <% if qo.image? %>
        <div style="margin-left: 4rem;">
          <%= image_tag qo.image.url, style: "max-width: 100%;" %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Update Correct Options", class: "btn btn-default" %>

  </div>
<% end %>

<h2>Add Option</h2>
<%= render "question_options/form", question_option: QuestionOption.new %>
