
<div>
  &lt; <%= link_to @question.quiz, [@question.quiz, :questions] %>
</div>

<h1><%= @question.subject %></h1>

<div>
  <%= simple_format @question.desc %>
</div>

<%= link_to 'Edit', edit_question_path(@question), class: "btn btn-default" %>

<h2>Options</h2>


<%= simple_form_for @question do |f| %>
  <div class="my-4">
    <% @question.question_options.each_with_index do |qo, idx| %>
      <label class="flex items-center">
        <%= f.check_box :correct_options, {:multiple => true}, qo.id.to_s, nil %>
        <span class="mx-2"><%= "ABCDEFGHIJK"[idx] %>.</span>
        <%= qo.content %>
      </label>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Update Correct Options", class: "btn btn-default" %>
  </div>
<% end %>

<div class="my-4">
<% @question.question_options.each_with_index do |qo, idx| %>
  <div class="flex items-center">
    <span class="mr-2"><%= "ABCDEFGHIJK"[idx] %>.</span>
    <span class="mr-2"><%= qo.content %></span>
    <%= link_to 'Edit', [:edit, qo], class: "btn mr-2" %>
    <%= button_to 'Destroy', qo, class: "btn", method: :delete, form: {data: {turbo_confirm: "Are you sure?"}} %>
  </div>
<% end %>
</div>

<h2>Add Option</h2>
<%= render "question_options/form", question_option: QuestionOption.new %>
