<%= simple_form_for quiz, html: { class: "" } do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.input :published_at %>
  <%= f.input :title %>
  <%= f.input :desc %>
  <%= f.input :pre_notice %>
  <%= f.input :calc_type, collection: Quiz::CALC_TYPES.map{|ct| [t(ct, scope: "activerecord.attributes.quiz"), ct]} %>
  <%= f.input :shuffle_questions %>
  <%= f.input :shuffle_options %>
  <%= f.input :anonymous %>
  <%= f.input :result_viewable %>
  <%= f.input :on_schedule, hint: t(:on_schedule_hint, scope: "activerecord.attributes.quiz") %>
  <%= f.input :start_at %>
  <%= f.input :duration, hint: t(:minutes) %>

  <div class="ingredient__actions">
    <%= f.submit class: "btn" %>
    <%= link_to t("Cancel"),  :quizzes, class: "btn btn--light" %>
  </div>

<% end %>
