<h1>Quizzes</h1>

<div class="btn-group">
  <%= link_to "New quiz", new_quiz_path, class: "btn" %>
</div>

<% I18n.with_options(scope: 'activerecord.attributes.quiz') do |i18n| %>
  <table>
    <thead>
      <tr>
        <th><%= i18n.t :published %></th>
        <th><%= i18n.t :anonymous %></th>
        <th><%= i18n.t :on_schedule %></th>
        <th><%= i18n.t :question, scope: "activerecord.models" %></th>
        <th><%= i18n.t :attempt, scope: "activerecord.models" %></th>
        <th><%= i18n.t :title %></th>
        <th>Created By</th>
        <th>Created At</th>
        <th>Updated At</th>
      </tr>
    </thead>
    <tbody>
      <% @quizzes.each do |quiz| %>
        <tr>
          <td class="text-center">
            <%= tick quiz.published %>
          </td>
          <td class="text-center">
            <%= tick quiz.anonymous %>
          </td>
          <td class="text-center">
            <%= tick quiz.on_schedule %>
          </td>
          <td class="text-center">
            <%= quiz.questions.size %>
          </td>
          <td class="text-center">
            <%= quiz.attempts.size %>
          </td>
          <td>
            <%= link_to quiz %>
          </td>
          <td>
            <%= quiz.user %>
          </td>
          <td>
            <%= quiz.created_at %>
          </td>
          <td>
            <%= quiz.updated_at %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
