<p style="color: green"><%= notice %></p>

<h1>
  <%= @quiz %>
  [<%= @quiz.available? ? "Available" : "Unavailable" %>]
</h1>

<div class="btn-group">
  <%= link_to 'Edit', edit_quiz_path(@quiz), class: "btn btn-default" %>
  <%= link_to 'Clone', [:clone, @quiz], data: { turbo_method: :post, turbo_confirm: "Are you sure?" }, class: "btn btn-default" %>
</div>

<% I18n.with_options(scope: 'activerecord.attributes.quiz') do |i18n| %>
  <dl>
    <dt><%= i18n.t :calc_type %></dt>
    <dd><%= @quiz.calc_type.blank? ? "full_match" : @quiz.calc_type %></dd>
  </dl>
  <dl>
    <dt><%= i18n.t :desc %></dt>
    <dd><%= simple_format @quiz.desc %></dd>
  </dl>
  <dl>
    <dt><%= i18n.t :pre_notice %></dt>
    <dd><%= simple_format @quiz.pre_notice %></dd>
  </dl>
  <dl>
    <dt><%= i18n.t :random_questions %></dt>
    <dd><%= @quiz.random_questions %></dd>
  </dl>
  <dl>
    <dt><%= i18n.t :random_options %></dt>
    <dd><%= @quiz.random_options %></dd>
  </dl>
  <dl>
    <dt><%= i18n.t :available %></dt>
    <dd><%= @quiz.available %></dd>
  </dl>
<% end %>

<h2>Questions (<%= @quiz.questions.size %>)</h2>

<div class="btn-group">
  <%= link_to '+ Question', [:new, @quiz, :question], class: "btn btn-default" %>
</div>

<table>
  <tr>
    <th></th>
    <th>Question Name</th>
    <th>Options</th>
    <th>Correct</th>
    <th>Score</th>
    <th></th>
    <th></th>
  </tr>
  <% @quiz.questions.each_with_index do |question, idx| %>
    <tr>
      <td><%= idx + 1 %></td>
      <td><%= link_to question %></td>
      <td><%= question.question_options.size %></td>
      <td><%= question.correct_options.try :size %></td>
      <td><%= question.score %></td>
      <td><%= link_to 'Edit', [:edit, question] %></td>
      <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>



<% attempts = @quiz.attempts %>

<h2>Attempts (<%= attempts.size %>)</h2>

<div class="btn-group">
  <%= link_to 'Attempt Quiz', [:new, @quiz, :attempt], class: "btn btn-default"  %>
</div>

<br>

<%= turbo_stream_from dom_id(@quiz, :attempts) %>
<%= turbo_frame_tag "attempt_list" do %>
  <ol id="attempt_list_real">
    <%= render attempts %>
  </ol>
<% end %>


