<div>
  &lt; <%= link_to "Quizzes", :quizzes %>
</div>

<p style="color: green"><%= notice %></p>

<h1>
  [<%= @quiz.published? ? "Published" : "Private" %>]
  <%= @quiz %>
</h1>


<div class="btn-group">
  <%= link_to 'Edit', edit_quiz_path(@quiz), class: "btn btn-default" %>
  <%= link_to "Questions: #{@quiz.questions.size}", [@quiz, :questions], class: "btn btn-default" %>
  <%= link_to "Attempts: #{@quiz.attempts.size}", [@quiz, :attempts], class: "btn btn-default" %>
  <%= link_to 'Moniter', [:moniter, @quiz], class: "btn btn-default" if @quiz.on_schedule  %>
  <%= link_to 'Clone', [:clone, @quiz], data: { turbo_method: :post, turbo_confirm: "Are you sure?" }, class: "btn btn-default" %>
  <%= link_to "Add New Question", [:new, @quiz, :question], class: "btn btn-default" %>
  <%= link_to 'Attempt Quiz', attempt_to_path(@quiz), class: "btn btn-default"  %>
</div>

<div class="my-4">
  <div>Attempt URL:</div>
  <div><%= link_to url_for(attempt_to_url(@quiz)), attempt_to_url(@quiz) %></div>
</div>

<% I18n.with_options(scope: 'activerecord.attributes.quiz') do |i18n| %>
  <table>
    <tr>
      <th><%= i18n.t :permalink %></th>
      <td><%= @quiz.permalink %></td>
    </tr>
    <tr>
      <th><%= i18n.t :calc_type %></th>
      <td><%= t(@quiz.calc_type.blank? ? "full_match" : @quiz.calc_type, scope: 'activerecord.attributes.quiz') %></td>
    </tr>
    <tr>
      <th><%= i18n.t :shuffle_questions %></th>
      <td><%= check @quiz.shuffle_questions %></td>
    </tr>
    <tr>
      <th><%= i18n.t :shuffle_options %></th>
      <td><%= check @quiz.shuffle_options %></td>
    </tr>
    <tr>
      <th><%= i18n.t :anonymous %></th>
      <td><%= check @quiz.anonymous %></td>
    </tr>
    <tr>
      <th><%= i18n.t :result_viewable %></th>
      <td><%= check @quiz.result_viewable %></td>
    </tr>
    <% if @quiz.on_schedule %>
      <tr>
        <th><%= i18n.t :on_schedule %></th>
        <td><%= check @quiz.on_schedule %></td>
      </tr>
      <tr>
        <th><%= i18n.t :start_at %></th>
        <td><%= @quiz.start_at %></td>
      </tr>
      <tr>
        <th><%= i18n.t :duration %></th>
        <td><%= @quiz.duration %> <%= t :minutes %></td>
      </tr>
    <% end %>
    <tr>
      <th><%= i18n.t :desc %></th>
      <td><%= simple_format @quiz.desc %></td>
    </tr>
    <tr>
      <th><%= i18n.t :pre_notice %></th>
      <td><%= simple_format @quiz.pre_notice %></td>
    </tr>
    <tr>
      <th><%= i18n.t :user %></th>
      <td><%= @quiz.user %></td>
    </tr>
    <tr>
      <th><%= i18n.t :created_at %></th>
      <td><%= @quiz.created_at %></td>
    </tr>
    <tr>
      <th><%= i18n.t :updated_at %></th>
      <td><%= @quiz.updated_at %></td>
    </tr>
  </table>
<% end %>




