<p style="color: green"><%= notice %></p>

<%= render @attempt_answer %>

<div>
  <%= link_to "Edit this attempt answer", edit_attempt_answer_path(@attempt_answer) %> |
  <%= link_to "Back to attempt answers", attempt_answers_path %>

  <%= button_to "Destroy this attempt answer", @attempt_answer, method: :delete %>
</div>
