
<%= turbo_frame_tag dom_id(attempt) do %>
  <div>
    <span><%= link_to attempt, nil, data: { turbo_frame: "_top" } %></span>
    <span><%= attempt.start_at.strftime("%Y-%m-%d %H:%M:%S") if attempt.start_at %></span>
    <span><%= attempt.end_at.strftime("%Y-%m-%d %H:%M:%S") if attempt.end_at %></span>
    <span><%= attempt.formatted_diff %></span>
    <span><%= attempt.formatted_score %></span>
  </div>
<% end %>
