
<%= turbo_frame_tag dom_id(attempt) do %>
  <div class="flex">
    <span class="w-1/6"><%= link_to attempt, nil, data: { turbo_frame: "_top" } %></span>
    <span class="w-48"><%= attempt.start_at.strftime("%Y-%m-%d %H:%M:%S") if attempt.start_at %></span>
    <span class="w-48"><%= attempt.end_at.strftime("%Y-%m-%d %H:%M:%S") if attempt.end_at %></span>
    <span><%= attempt.formatted_duration %></span>
    <span><%= attempt.formatted_score %></span>
  </div>
<% end %>
