<% if user_signed_in? %>
  <%= link_to "Back to Quiz", @attempt.quiz %>
<% end %>

<h1><%= @attempt.quiz %></h1>


<% I18n.with_options(scope: 'activerecord.attributes.attempt') do |i18n| %>
  <table>
    <tr>
      <th><%= i18n.t :name %></th>
      <td><%= @attempt.name %></td>
    </tr>
    <tr>
      <th><%= i18n.t :start_at %></th>
      <td><%= @attempt.start_at.strftime("%Y-%m-%d %H:%M:%S") if @attempt.start_at %></td>
    </tr>
    <tr>
      <th><%= i18n.t :end_at %></th>
      <td><%= @attempt.end_at.strftime("%Y-%m-%d %H:%M:%S") if @attempt.end_at %></td>
    </tr>

    <% if @attempt.start_at and @attempt.end_at %>
      <tr>
        <th><%= i18n.t :duration %></th>
        <td><%= @attempt.formatted_diff %></td>
      </tr>
    <% end %>

    <tr>
      <th><%= i18n.t :result %></th>
      <td><%= @attempt.formatted_score %></td>
    </tr>
  </table>
<% end %>




<% @attempt.attempt_answers.by_seq.each_with_index do |aa, idx| %>
  <% question = aa.question %>

  <div class="my-4">
    <div class="">
      <%= idx + 1 %>.
      <%= question.subject %>
    </div>

    <div class="ml-4">
      <div style="font-size: smaller; color: #999;">
        score: <%= aa.calc_score(question.correct_options, @attempt.quiz.calc_type, question.score).to_f %> out of <%= question.score %>; 
        <%= question.fixed_options ? "fixed options (no shuffle)" : "" %>        
      </div>
      <div class="my-2">
        <%= simple_format question.desc %>
      </div>

      <div class="ml-4">
        <% question.question_options.each_with_index do |qo, jdx| %>
          <div>
            <% if question.single_answer? %>
              <%= radio_button_tag :attempt_answer, :selected_options, aa.selected_options.try(:"include?", qo.id.to_s), disabled: true %>
            <% else %>
              <%= check_box_tag :attempt_answer, :selected_options, aa.selected_options.try(:"include?", qo.id.to_s), disabled: true %>
            <% end %>
            <span style="font-family: monospace;"><%= "ABCDEFGHIJK"[jdx] %>.</span>
            <%= qo.content %>
            <%= '✔' if aa.question.correct_options.try(:"include?", qo.id.to_s) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
