<!DOCTYPE html>
<html>
  <head>
    <title>MiniQuizV2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if user_signed_in? %>
      <header class="px-4 py-2 bg-slate-100">
        <%= link_to "Quizzes", :root, class: "mr-2" %>
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      </header>
    <% end %>

    <div class="m-4">
      <%= yield %>
    </div>
  </body>
</html>
